#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}
.app-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.App {
  display: flex;
  flex-flow: column;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input[type="file"] {
  display: none;
}

label {
  padding: 16px 8px;
  width: 200px;
  background-color: #3897f0;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin-top: 4px;
  cursor: pointer;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #3897f0;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #8cc2ee;
}
.canvas {
  display: flex;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .app-title {
    font-size: 2rem;
  }
}
